<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= Location.where({:id => @visit.location_id}).pluck(:name).at(0) %> Visit Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
      <% if Visit.where({:id => @visit.id}).pluck(:visitors_id).at(0) == session[:user_id] %>
      <div class="col">
        <a href="/delete_visit/<%= @visit.id %>" class="btn btn-block btn-outline-secondary">
          Delete visit
        </a>
      </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Purpose
      </dt>
      <dd>
        <%= @visit.purpose %>
      </dd>

      <dt>
        Visitors
      </dt>
      <dd>
        <%= User.where({:id => @visit.visitors_id}).pluck(:username).at(0).capitalize %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= Location.where({:id => @visit.location_id}).pluck(:name).at(0) %>
      </dd>

      <dt>
        Checked In at
      </dt>
      <dd>
        <%= time_ago_in_words(@visit.created_at) %> ago
      </dd>

      <dt>
        Checked Out?
      </dt>
      <dd>
        <% if @visit.check_out == false%>
          Not yet
        <% else %>
          I left
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if Visit.where({:id => @visit.id}).pluck(:visitors_id).at(0) == session[:user_id] &&  %>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit visit
    </h2>

    <form action="/modify_visit/<%= @visit.id %>"  method="post" >
      <div class="form-group">
        <label for="purpose_box">
          Purpose
        </label>

        <input type="text" id="purpose_box" name="purpose_from_query" class="form-control" value="<%= @visit.purpose %>">
      </div>

      <div class="form-group">

        <input type="hidden" name="visitors_id_from_query" class="form-control" value="<%= @visit.visitors_id %>">
      </div>

      <div class="form-group">
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="location_id_from_query" class="form-control" value="<%= Location.where({:id => @visit.location_id}).pluck(:name).at(0) %>" placeholder="<%= Location.where({:id => @visit.location_id}).pluck(:name) %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update visit
      </button>
    </form>
  </div>
</div>
<% end %>
<hr>
