<h1>Where are your friends?</h1>


<% if FollowRequest.where({:accepted_request => true, :sender_id => session[:user_id]}).present? == false && FollowRequest.where({:accepted_request => true, :recipent_id => session[:user_id]}).present? == false%>
<div class="row mb-3">
  <div class="col-md-12">
    <h5>
      You are not currently connected with any friends.
    </h5>
  </div>
</div>
<% elsif Visit.where({:visitors_id => FollowRequest.where({:sender_id => session[:user_id], :accepted_request => true}).pluck(:recipent_id) }).empty? == false || Visit.where({:visitors_id => FollowRequest.where({:recipent_id => session[:user_id], :accepted_request => true}).pluck(:sender_id) }).empty? == false %>

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Username
        </th>

        <th>
          Location
        </th>
        
        <th>
          Checked In at
        </th>
      </tr>

      <% Visit.where({:visitors_id => FollowRequest.where({:sender_id => session[:user_id], :accepted_request => true}).pluck(:recipent_id) }).each do |people| %> 
      <tr>
        <td>
          <%= User.where({:id => people.visitors_id}).pluck(:username).at(0).capitalize %>
        </td>

        <td>
          <%= Location.where({:id => people.location_id}).pluck(:name).at(0).capitalize %>
        </td>

        <td>
          <%= time_ago_in_words(people.created_at) %> ago
        </td>
      </tr>
      <% end %>

        <% Visit.where({:visitors_id => FollowRequest.where({:recipent_id => session[:user_id], :accepted_request => true}).pluck(:sender_id) }).each do |people| %> 
      <tr>
        <td>
          <%= User.where({:id => people.visitors_id}).pluck(:username).at(0).capitalize %>
        </td>

        <td>
          <%= Location.where({:id => people.location_id}).pluck(:name).at(0).capitalize %>
        </td>
        
        <td>
          <%= time_ago_in_words(people.created_at) %> ago
        </td>
        
      </tr>
      <% end %>
    <% else %>
      <div class="col-md-12">
        <h5>
          No one is checked in
        </h5>
      </div>
    <% end %>
  </div>
</div>