<h1><%= @current_user.username.capitalize %>'s Account</h1>


<hr>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Past Check Ins
    </h2>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Purpose
        </th>

        <th>
          Location
        </th>

        <th>
          Check In
        </th>

        <th>
          Check Out
        </th>

        <th>
        </th>
      </tr>

      <% Visit.where({:visitors_id => @current_user.id }).each do |visit| %>
      <tr>
        <td>
          <%= visit.purpose %>
        </td>

        <td>
          <% place_number = visit.location_id %>
          <%= Location.where({:id => place_number}).pluck(:name).at(0) %>
        </td>

        <td>
          <%= time_ago_in_words(visit.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(visit.updated_at) %> ago
        </td>

        <td>
          <a href="/visits/<%= visit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


